<%= link_to t("export"), attacks_path(format: "csv"), class:"btn btn-dark" %>
<div class="card mt-3">
<div class="card-header"><%= @attacks.size %><%= t("attacks") %></div>
<div class="card-body p-0">
<table class="table-bordered table-hover table m-0">
  <thead class="small bg-light">
    <tr>
      <th class="p-2"><%= t("name") %></th>
      <th class="p-2"><%= t("accuracy") %></th>
      <th class="p-2"><%= t("power") %></th>
      <th class="p-2"><%= t("show") %></th>
    </tr>
  </thead>
  <tbody>
      <% @attacks.each do |attack| %>
        <tr>
      <td class="p-2"><%= attack.name.titleize %></td>
      <td class="p-2"><%= attack.accuracy %> cm</td>
      <td class="p-2"><%= attack.power %> kg</td>
      <td class="p-2"><%= link_to t("show"), attack_path(attack.name), class: "btn btn-secondary btn-sm" %></td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>
</div>
