<%= form_for @user, html: {class: "form-horizontal"} do |f| %>
  <div class="form-floating mt-4 col-md-6">
    <%= f.email_field :email, class: "form-control", required: true %>
    <%= f.label :email %>
  </div>

  <div class="form-floating mt-4 col-md-6">
    <%= f.password_field :password, class: "form-control", required: true %>
    <%= f.label :password, t("password") %>
  </div>

  <%= f.submit t("save"), class: "btn btn-primary mt-3" %>
<% end %>

