<% types = [] %>
<% Pokemon.all.each do |pokemon| %>
  <% types << pokemon.types %>
<% end %> 

<%= link_to "All", pokemons_path, class:"btn btn-primary" %>

<% types.flatten.uniq.each do |type| %>
  <%= link_to type.titleize, pokemons_path(type: type), class:"btn btn-outline-primary" %>
<% end %>

<%= link_to "Export", pokemons_path(format: "csv"), class:"btn btn-dark" %>

<%= will_paginate @pokemons %>

<div class="card mt-3">
  <div class="card-header"><%= @pokemons.size %> Pokemons</div>
  <div class="card-body p-0">
  <table class="table-bordered table-hover table m-0">
    <thead class="small bg-light">
      <tr>
        <th class="p-2" style="width: 15%"></th>
        <th class="p-2">Name</th>
        <th class="p-2">French name</th>
        <th class="p-2">Height</th>
        <th class="p-2">Weight</th>
        <th class="p-2">Types</th>
        <th class="p-2">Nombre Attacks</th>
        <th class="p-2">Hp</th>
        <th class="p-2">Attack</th>
        <th class="p-2">Defense</th>
        <th class="p-2">Special Attack</th>
        <th class="p-2">Special Defense</th>
        <th class="p-2">Speed</th>
        <th class="p-2">Show</th>
      </tr>
    </thead>
    <tbody>
        <% @pokemons.each do |pokemon| %>
          <tr>
            <td class="p-2 align-middle"><%= image_tag pokemon.photo, class: 'w-25 d-block mx-auto' %></td>
            <td class="p-2 align-middle"><%= pokemon.name.titleize %></td>
            <td class="p-2 align-middle"><%= pokemon.french_name.titleize %></td>
            <td class="p-2 align-middle"><%= pokemon.height %> cm</td>
            <td class="p-2 align-middle"><%= pokemon.weight %> kg</td>
            <td class="p-2 align-middle"><%= pokemon.types.map {|type| type.titleize}.join(", ") %></td>
            <td class="p-2 align-middle"><%= pokemon.attack_names.size %></td>
            <td class="p-2 align-middle"><%= pokemon.hp %></td>
            <td class="p-2 align-middle"><%= pokemon.attack %></td>
            <td class="p-2 align-middle"><%= pokemon.defense %></td>
            <td class="p-2 align-middle"><%= pokemon.special_attack %></td>
            <td class="p-2 align-middle"><%= pokemon.special_defense %></td>
            <td class="p-2 align-middle"><%= pokemon.speed %></td>
            <td class="p-2 align-middle"><%= link_to "show", pokemon_path(pokemon.name), class: "btn btn-secondary btn-sm" %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  </div>
</div>


  <div class="row mt-3">
  <% @pokemons.each do |pokemon| %>
    <div class="col-md-3">
      <div class="card mt-3">
        <div class="card-header">
          <% if cookies[:locale] == "fr" %>
            <strong><%= pokemon.french_name %></strong>
          <% else %>
            <strong><%= pokemon.name.titleize %></strong>
          <% end %>
        </div>
        <div class="card-body">
          <%= image_tag pokemon.photo, class: 'w-25 d-block mx-auto' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
