<%= image_tag @pokemon.photo %>
<h1><%= @pokemon.name %></h1>
<p>Taille du Pokémon : <%= @pokemon.height %> cm</p>
<p>Poids du Pokémon : <%= @pokemon.weight %> kg</p>
<p>Power max : <%= @pokemon.max_power %></p>
<p>Power min : <%= @pokemon.min_power %></p>
<p>Types : <%= @pokemon.types.join(",") %></p>
<p>Description : <%= @pokemon.description %></p>

<% if !@pokemon.evolves_from.nil? %>
  <% evolves_from = Pokemon.find_by(name: @pokemon.evolves_from) %>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><p>Evolves from: <%= evolves_from.name %></p></div>
      <div class="card-body d-flex">
        <%= image_tag evolves_from.photo %>
        <div class="card-body">
          <p>Taille : <%= evolves_from.height %></p>
          <p>Poids : <%= evolves_from.weight %></p>
          <p>Description : <%= evolves_from.description %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% evolution = Pokemon.find_by(evolves_from: @pokemon.name) %>
<% if evolution %>
<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Evolution : <%= evolution.name %></div>
      <div class="card-body">
        <%= image_tag evolution.photo, style: 'width: 200px' %>
      </div>
    </div>
  </div>
  <% evolution2 = Pokemon.find_by(evolves_from: evolution.name) %>
  <% if evolution2 %>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Evolution : <%= evolution2.name %></div>
        <div class="card-body">
          <%= image_tag evolution2.photo, style: 'width: 200px' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<div class="card mt-3">
<div class="card-header">Stats</div>
<div class="card-body p-0">
<table class="table-bordered table-hover table m-0">
  <thead class="small bg-light">
    <tr>
      <th class="p-2">Hp</th>
      <th class="p-2">Attack</th>
      <th class="p-2">Defense</th>
      <th class="p-2">Special attack</th>
      <th class="p-2">Special defense</th>
      <th class="p-2">Speed</th>
      <th class="p-2">Total</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="p-2"><%= @pokemon.hp %></td>
        <td class="p-2"><%= @pokemon.attack %></td>
        <td class="p-2"><%= @pokemon.defense %></td>
        <td class="p-2"><%= @pokemon.special_attack %></td>
        <td class="p-2"><%= @pokemon.special_defense %></td>
        <td class="p-2"><%= @pokemon.speed %></td>
        <td class="p-2"><%= @pokemon.sum %></td>
      </tr>
  </tbody>
</table>
</div>
</div>

<div class="card mt-3">
<div class="card-header"><%= @pokemon.attacks.size %> Attacks</div>
<div class="card-body p-0">
<table class="table-bordered table-hover table m-0">
  <thead class="small bg-light">
    <tr>
      <th class="p-2">Name</th>
      <th class="p-2">Accuracy</th>
      <th class="p-2">Power</th>
    </tr>
  </thead>
  <tbody>
    <% @pokemon.attacks.order(power: :desc).each do |attack| %>
      <tr>
        <td class="p-2"><%= attack.name.titleize %></td>
        <td class="p-2"><%= attack.accuracy %></td>
        <td class="p-2"><%= attack.power %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>